* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.pages {
  width: 100%;
  height: 100%;
  background-image: url("../imgs/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

// 解决英文以及特殊符号换行的问题
.longText {
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
}

// 长文本超出换成...
.longTextOmit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//
